*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./bg-pattern-desktop.svg);
    height: 100%;
    background-repeat: no-repeat;
    font-family: 'Josefin Sans', sans-serif;
}
.logo{
    background-image: url(./logo.svg);
    background-repeat: no-repeat;
    margin: 25px 25px 15px 30px;
    padding: 8px;
    height:5vh;
}
.hero{
    background-image: url(./hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 35vh;
}
.first{
    text-align: center;
    margin: 50px auto;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 10px;
    color: rgb(67, 58, 59);
    font-weight: 600;
    
}
.we{
    color: rgb(221, 198, 199);
    font-weight: 300;
}
.desc{
    text-align: center;
    color: rgb(221, 196, 197);
    line-height: 25px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
}
.mail{
    border-radius: 100px;
    margin-left: 50px;
    height: 8vh;
    width: 80%;
    border: 1px solid rgb(198, 192, 193);
}
.btn{
    border-radius: 190px;
    height: 8vh;
    width: 21%;
    margin-left: -81px;
    border: 1px solid rgb(240, 156, 156);
    background-color: rgb(240, 156, 156);
    color: white;
    font-weight: 300;
    font-size: 18px;
}
::placeholder{
    margin-top: 550px;
    padding: 25px;
    color: rgb(226, 211, 210);
}
@media screen and (min-width: 1024px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .logo{
        background-repeat: no-repeat;
        width: 30%;
        margin:60px 0px 0px 150px;
        float: left;
    }
    .hero{
        background-image: url(./hero-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 40%;
        height: 100vh;
        float: right;
        
    }
    .first{
        text-transform: uppercase;
        width: 40vw;
        height: 30vh;
        font-size: 60px;
        letter-spacing: 10px;
        color: rgb(67, 58, 59);
        font-weight: 600;;
        float: left;
        padding-top: 60px;
        padding-left: 150px;
        margin-top: 35px;
        line-height: 55px;
        text-align: left;
    }
    .desc{
        float: left;
        color: rgb(221, 196, 197);
        width: 40%;
        line-height: 25px;
        font-weight: 400;
        font-size: 16px;
        padding: 0px 70px 0px 140px ;
        text-align: left;
    }
    .mail{
        border-radius: 100px;
        margin-left: 135px;
        height: 8vh;
        width: 25%;
        border: 1px solid rgb(198, 192, 193);
    }
    .btn{
        border-radius: 190px;
        height: 8vh;
        width: 7%;
        margin-left: -75px;
        border: 1px solid rgb(240, 156, 156);
        background-color: rgb(240, 156, 156);
        color: white;
        font-weight: 300;
        font-size: 18px;
    }
}